.button {
	font-family: 'Merriweather';
	font-size: 15px;
	transition: color .3s, background-color .3s;
	border-radius: 24px;
	padding: 17px 27px;
	text-decoration: none;
	display: block;
	cursor: pointer;

	&--orange {
		background-color: $orange;
		color: #ffffff;
		border: none;

		&:hover {
			background-color: darken($orange, 5%);
		}
	}

	&--light {
		background-color: #fff;
		color: #738AA7;
		font-size: 15px;
		font-weight: 100;

		&:hover,
		&.is-active {
			background-color: #F0F5F5;
		}
	}

	&--big {
		padding: 24px 33px;
		border-radius: 33px;
	}

	&--grey {
		background-color: #F0F5F5;
		color: #7289A6;
	}
}