.link {
	font-size: 15px;
	text-decoration: none;
	font-weight: 100;
	position: relative;
	transition: color .3s;

	&--orange {
		color: $orange;

		&:hover {
			color: darken($orange, 10%);
		}
	}

	&--video {
		padding-left: 35px;

		&:before {
			content: '';
			position: absolute;
			width: 20px;
			height: 14px;
			left: 0;
			top: 45%;
			transform: translateY(-50%);
			background-image: url(../images/static/video-icon.svg);
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}