.footer {
	background-color: #fff;
	padding: 75px 0;
}

.footer__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-between;
}

.footer__col {

	@media screen and (min-width: 768px) {
		width: 33.333%;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	&:nth-child(2) {
		justify-content: center;
	}

	&:nth-child(3) {
		justify-content: flex-end;
	}
}

.footer__logo {
	position: relative;
	width: 330px;
}

.footer__logo-link {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
}

.footer__phone {
	color: $dark;
	text-decoration: none;
	font-family: 'RobotoSlab';
	font-size: 15px;
	transition: color .3s;

	&:hover {
		color: $orange;
	}
}

.footer__copy {
	color: $dark;
	text-decoration: none;
	font-size: 15px;
	font-weight: 100;
	transition: color .3s;

	&:hover {
		color: $orange;
	}
}