.header {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	background-color: #fff;
	transition: transform .3s;
	z-index: 25;

	@media screen and (min-width: 1280px) {
		
		&--scrolled {
			position: fixed;
			top: auto;
			bottom: 100%;


			.header__logo-text {
				opacity: 0;
			}

			.header__logo-image {
				transform: translateX(-190px);
			}
		}

		&--show {
			transform: translateY(100%);
		}
	}

	
}

.header__inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding: 17px 0;
	justify-content: space-between;
}

.header__logo {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-end;
	align-items: flex-end;
	text-decoration: none;
}

.header__logo-text {
	font-family:'Merriweather';
	font-weight: 700;
	font-size: 25px;
	margin-right: 30px;
	color: $dark;
}

.header__logo-image {
	margin-bottom: -6px;
	width: 290px;
}

.header__controls {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.header__button {
	margin-right: 70px;
}

.header__phone-link {
	font-family: 'RobotoSlab';
	color: $dark;
	font-weight: 300;
	text-decoration: none;
	font-size: 15px;
}

.header__phone {
	margin-right: 60px;
}

.header__burger {
	cursor: pointer;
}

.header__menu {
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	cursor: pointer;
	z-index: 10;

	&.is-opened {

		.header__menu-text {
	
			&:before {
				opacity: 0;
			}

			&:after {
				opacity: 1;
			}
		}

		.header__menu-burger-bar {

			&:nth-child(1) {
				transform: rotate(45deg) translate(12px, 7px);
			}

			&:nth-child(2) {
				opacity: 0;
			}

			&:nth-child(3) {
				transform: rotate(-45deg) translate(10px, -5px);
			}
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: -10px;
		right: -10px;
		top: -10px;
		bottom: -10px;
	}
}

.header__menu-text {
	position: relative;
	font-family: 'Merriweather';
	color: #262626;
	margin-right: 25px;

	&:before {
		content: attr(data-show);
		display: inline-block;
		transition: opacity .3s;
	}

	&:after {
		position: absolute;
		content: attr(data-hide);
		left: -20px;
		top: 0;
		opacity: 0;
		transition: opacity .3s;
	}
}

.header__menu-burger {
	// margin-left: 25px;
}

.header__menu-burger-bar {
	width: 30px;
	height: 2px;
	background-color: #262626;
	margin-bottom: 10px;
	transition: opacity .3s, transform .3s;

	&:last-child {
		margin-bottom: 0;
	}
}

.header__drop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 100vh;
	overflow-y: scroll;
	background-color: #fff;
	overflow-x: hidden;
	opacity: 0;
	visibility: hidden;
	transition: transform .3s, opacity .3s, visibility .3s;

	&.is-visible {
		opacity: 1;
		visibility: visible;
	}
}

.header__drop-container {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0 50px;
	position: relative;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.header__drop-inner {
	max-width: 920px;
	margin-top: auto;
	margin-bottom: auto;
	padding: 100px 0;

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.header__drop-link {
	@include stitle;

	margin-bottom: 70px;
	text-decoration: none;
	color: #232237;
	transition: color .3s;
	display: block;

	&:hover,
	&.is-active {
		color: $orange;
	}

	@media screen and (min-width: 768px) {
		width: 50%;
		padding-right: 50px;

		&:nth-last-child(-n+2) {
			margin-bottom: 0;
		}
	}
}

.header__drop-images {
	position: absolute;
	left: 950px;
	top: 0;
	bottom: 0;
	width: 600px;
}

.header__drop-image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center left;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity .3s;

	&.is-visible {
		opacity: 1;
	}
}