.popup {
	position: fixed;
	z-index: 40;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba($dark, 0.95);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	overflow-y: scroll;
	visibility: hidden;
	opacity: 0;
	transition: opacity .3s, visibility .3s;

	&.is-visible {
		visibility: visible;
		opacity: 1;
	}
}

.popup__inner {
	padding: 80px 50px;
	max-width: 1300px;
	margin: auto;
	width: 100%;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.popup__closer {
	position: absolute;
	right: 0;
	top: 40px;
	height: 55px;
	width: 55px;
	border-radius: 50%;
	background-color: $dark;
	background-image: url(../images/static/popup-closer.svg);
	-webkit-background-size: 30%;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	transition: transform .3s;
	z-index: 2;

	@media screen and (min-width: 1280px) {
		display: none;
	}

	&:hover {
		transform: rotate(90deg);
	}
}

.popup__container {
	position: relative;
	background-color: #fff;
	padding: 80px 120px 60px 120px;
	max-width: 790px;
	z-index: 1;
}

.popup__title {
	@include ctitle(48);
	
	margin-bottom: 30px;
}

.popup__enemy {
	position: relative;
	margin-bottom: 40px;
	display: inline-block;
	padding-right: 100px;
}

.popup__enemy-remove {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-image: url(../images/static/orange-cross.svg);
	-webkit-background-size: 30%;
	background-size: 30%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #F0F5F5;
	transition: transform .3s, background-color .3s;
	cursor: pointer;

	&:hover {
		background-color: darken(#F0F5F5, 5%);
	}
}

.popup__enemy-input {
	border: none;
	background-color: transparent;
	color: $orange;
	font-size: 15px;
	font-weight: 100;
	font-family: 'Merriweather';
	text-decoration: none;
	pointer-events: none;
	width: 210px;
}

.popup__over {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
    cursor: url(../images/static/cursor-close.png) 27 27, auto;
}

.popup__success {
	padding: 100px 0;
	text-align: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .3s, visibility .3s;
	position: absolute;
	top: 0;

	&.is-visible {
		position: relative;
		opacity: 1;
		visibility: visible;
	}
}

.popup__success-title {
	@include ctitle(36);

	margin-bottom: 30px;
	color: $dark;
}

.popup__success-text {
	font-family: 'Merriweather';
	font-size: 20px;
	color: #738AA7;
	line-height: 1.4;
}
















