@media screen and (max-width: 767px) {

	.footer {
		padding: 35px 0;
	}

	.footer__row {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
	}

	.footer__logo {
		width: 180px;
		margin-bottom: 20px;
	}

	.footer__phone {
		display: block;
		margin-bottom: 20px;
	}
}