@media screen and (max-width: 1279px) {

	.header {
		position: fixed;
	}

	.header__logo {
		margin-right: 40px;
	}

	.header__logo-text {
		font-size: 16px;
	}

	.header__logo-text {
		margin-right: 18px;
	}

	.header__logo-image {
		width: 180px;
		margin-bottom: -4px;
	}

	.header__button {
		margin-right: 35px;
	}

	.header__phone {
		font-size: 14px;
		margin-right: 30px;
	}

	.header__menu {
		margin-top: 0;
	}

	.header__drop-link {
		font-size: 30px;
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 767px) {

	.header__logo-image {
		width: 115px;
	}

	.header__button {
		display: none;
	}

	.header__phone {
		display: none;
	}

	.header__logo {
		margin-right: 20px;
	}

	.header__logo-image {
		margin-bottom: 0;
	}

	.header__menu-burger {
		transform: scale(0.7);
	}

	.header__drop-link {
		margin-bottom: 40px;
		font-size: 20px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.header__drop-inner {
		padding: 70px 0;
	}
}