div(data-wow.offset='20').footer.wow.fadeIn
	div.container
		div.footer__row
			div.footer__col
				div.footer__logo
					img(src="assets/images/static/header__logo.svg", alt="").footer__logo-image
					a(href="#").footer__logo-link
			div.footer__col
				a(href="tel:8 800 555 666 77").footer__phone 8 800 555 666 7
			div.footer__col
				a(href="https://cakelabs.ru").footer__copy Разработка сайта - Cakelabs