header.header
	div.container
		div.header__inner
			a(href="#").header__logo
				div.header__logo-text Мегаоптика
				img(src="assets/images/static/header__logo.svg", alt="").header__logo-image
			div.header__controls
				div.header__button
					a(href="#" data-popup='order').button.button--orange Записаться
				div.header__phone
					a(href="tel:880055566677").header__phone-link 8 800 555 666 7
				div(data-popup='categories').header__menu
					//- div(data-show='меню' data-hide='закрыть').header__menu-text
					div.header__menu-burger
						div.header__menu-burger-bar
						div.header__menu-burger-bar
						div.header__menu-burger-bar

	div.header__drop#categories
		div.header__drop-container
			div.header__drop-inner
				a(href="#" data-anchor='advantages').header__drop-link Преимущества
				a(href="#" data-anchor='medic').header__drop-link Врачи
				a(href="#" data-anchor='diagn').header__drop-link Расширенная диагностика
				a(href="#" data-anchor='treatment').header__drop-link Лечение и коррекция 
				a(href="#" data-anchor='virtual').header__drop-link Виртуальный 3D-тур
				a(href="#" data-anchor='master').header__drop-link Мастерская
				a(href="#" data-anchor='comf').header__drop-link Зона комфорта
				a(href="#" data-anchor='contacts').header__drop-link Как нас найти

			div.header__drop-images
				div(style='background-image:url(assets/images/content/cat_7.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_1.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_2.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_6.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_3.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_5.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_4.svg)').header__drop-image
				div(style='background-image:url(assets/images/content/cat_8.svg)').header__drop-image
