doctype html
html(lang="ru")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible",content="IE=edge')
		meta(name='viewport',content='width=device-width, initial-scale=1')
		meta(name='description' content='Федеральная сеть «СЧАСТЛИВЫЙ ВЗГЛЯД» представляет самый большой в России салон уникального формата «МЕГАОПТИКА»!')

		block title
			title Мегаоптика

		link(rel="icon" href="assets/images/static/HL_favicon.ico" type="image/x-icon")
		link(rel='stylesheet', href='assets/css/styles.css')

		include blocks/metrika

	body
		div.preloader
		div.page
			include blocks/header
			div.content
				block content
			include blocks/footer
			include blocks/popup
			
		script(src='https://api-maps.yandex.ru/2.1/?lang=ru_RU')
		script(src='assets/js/scripts.min.js')
