extends layout

block title
	title Мегаоптика

block content
	
	div.welcome.wow.fadeIn
		div.container
			include blocks/main-svg
			div.welcome__mobile
				img(src="assets/images/content/mobile-illustration.svg", alt="").welcome__mobile-image
			div.welcome__sections
				div.welcome__sections-item.center#med Коррекция и лечение
				div.welcome__sections-item.fashion#fash Зал<br> Fashion
				div.welcome__sections-item.luxury#lux Зал<br> Luxury
				div.welcome__sections-item#mass Зал<br> Massmarket
				div.welcome__sections-item.child#child Зал<br> Детский
				div.welcome__sections-item.master#mast Мастерская
	div.main-content
		div.container
			div.p-top
				div(data-wow-offset='40').p-top__title.wow.fadeInUp Мегаоптика
				div.p-top__content(data-wow-offset='40').wow.fadeInUp
					div.p-top__text Самый большой магазин оптики в России, включающий в себя центр коррекции и лечения зрения.
					div.p-top__text Санкт-Петербург, Лиговский проспект, д. 52

			div(data-wow-offset='40').g-slider.wow.fadeInUp 
				div.g-slider__scene.owl-carousel
					div.g-slider__slide
						//- a(href="#").g-slider__link
						div.g-slider__content
							div.g-slider__title Двойная защита<br> для глаз
							div.g-slider__features
								div.g-slider__feature От искуственного освещения
								div.g-slider__feature От синего света
							div.g-slider__price
								div.g-slider__price-text линзы от
								div.g-slider__price-value 1 790
									|
									span р.
							div.g-slider__note Имеются противопоказания, необходимо проконсультироваться с врачом
						div.g-slider__media
							div(style='background-image:url(assets/images/content/g-slider_2.jpg)').g-slider__image
					div.g-slider__slide.g-slider__slide--custom
						//- a(href="#").g-slider__link
						div.g-slider__content
							div.g-slider__percent -30
							div.g-slider__lang на немецкие очковые линзы
							div.g-slider__text Имеются противопоказания, необходимо проконсультироваться с врачом
						div.g-slider__media              
							div(style='background-image:url(assets/images/content/g-slider_3.jpg)').g-slider__image

					div.g-slider__slide
						div.linz
							div.linz__row
								div.linz__col.linz__col--big
									div.linz__title Прогрессивные линзы
									div.linz__options
										div.linz__price
											div.linz__price-title Лучшая цена *
											div.linz__price-value <span>от</span>1 700 <span>р.</span>
										div.linz__made Сделано в Германии
								div.linz__col
									img(src="assets/images/static/linz-logo.png", alt="").linz__icon
							div.linz__note
								div.linz__note-row
									div.linz__note-col * В ассортименте прогрессивных линз в сети салонов «Счастливый взгляд»
									div.linz__note-col Имеются противопоказания, необходимо проконсультироваться с врачом

					div.g-slider__slide
						div.acu
							div.acu__content
								div.acu__title Жизнь в ярких<br>красках
								div.acu__info
									img(src="assets/images/content/aculife.png", alt="").acu__info-img
									div.acu__info-content
										div.acu__info-name Aculife
										div.acu__info-note Ваши контактные линзы
								div.acu__note Имеются противопоказания, необходимо проконсультироваться с врачом
							div(style='background-image:url(assets/images/content/acu.jpg)').acu__media

							

			div.services#advantages
				div.services__row
					div(data-popup='service_1' data-wow-offset='0' data-wow-delay='0s').service.service--blue.js-modal.wow.fadeInUp 
						div.service__content
							div.service__content-data
								div.service__number-wrapper
									div.service__number 01
								div.service__text Уникальный диагностический центр для взрослых и детей
						div(style='background-image:url(assets/images/content/service_1.jpg)').service__image
					div(data-popup='service_2' data-wow-offset='0' data-wow-delay='0.2s').service.service--dark-blue.js-modal.wow.fadeInUp 
						div.service__content
							div.service__content-data
								div.service__number-wrapper
									div.service__number 02
								div.service__text Амбулаторное лечение взрослых и детей
						div(style='background-image:url(assets/images/content/service_2.jpg)').service__image
					div(data-popup='service_3' data-wow-offset='0' data-wow-delay='0.4s').service.service--green.js-modal.wow.fadeInUp 
						div.service__content
							div.service__content-data
								div.service__number-wrapper
									div.service__number 03
								div.service__text Огромный выбор оправ, очков и контактных линз
						div(style='background-image:url(assets/images/content/service_3.jpg)').service__image
					div(data-popup='service_4' data-wow-offset='0' data-wow-delay='0.6s').service.service--orange.js-modal.wow.fadeInUp 
						div.service__content
							div.service__content-data
								div.service__number-wrapper
									div.service__number 04
								div.service__text Всегда лучшие цены, выгодные акции, сезонные распродажи
						div(style='background-image:url(assets/images/content/service_4.jpg)').service__image

			div(data-wow-offset='0').section#medic.wow.fadeIn
				div.section__image
					img(src="assets/images/content/section_1.svg", alt="").section__image-file
				div.section__content
					div.section__number 5
					div.section__content-inner
						div.section__title Врачи
						div.section__text 5 врачей офтальмологов высшей категории, 5 современно оборудованных кабинетов.

			div(data-wow-offset='0').persons.wow.fadeIn
				div.persons__p-checker
					div.p-checker.js-drop-wrapper
						div.p-checker__opener-wrapper
							div.button.button--grey.button--big.p-checker__opener.js-drop-opener Андреева Н.А.
						div.p-checker__row.js-drop
							div.p-checker__item
								a(href="#").button.button--light.p-checker__link.is-active Андреева Н.А.
							div.p-checker__item
								a(href="#").button.button--light.p-checker__link Ларина В.А.
							div.p-checker__item
								a(href="#").button.button--light.p-checker__link Гусева М.С.
							div.p-checker__item
								a(href="#").button.button--light.p-checker__link Иванникова С.Н.
							div.p-checker__item
								a(href="#").button.button--light.p-checker__link Матусовская А.В.

				div.persons__p-slider
					div.p-slider
						div.p-slider__scene.owl-carousel
							div.p-slider__slide
								div.p-slider__media
									a(data-fancybox="andreeva" href="assets/files/video/Andreeva.mp4").p-slider__media-link
									div(style='background-image:url(assets/images/content/person_1.jpg)').p-slider__image
									video(loop muted autoplay).p-slider__video
										source(data-src='assets/files/video/Andreeva_short.mp4').b-lazy
								div.p-slider__content
									div.p-slider__content-row
										div.p-slider__top
											div.p-slider__position Врач-офтальмолог
											div.p-slider__name Андреева Нина Андреевна
										div.p-slider__options
											div.p-slider__options-col.p-slider__options-col--short
												div.p-slider__options-title Стаж
												div.p-slider__options-text
													p 23 года
											div.p-slider__options-col
												div.p-slider__options-title Образование
												div.p-slider__options-text
													p 1-ый Ленинградский Медицинский Институт им. Павлова, специальность «лечебное дело», 1992 год
													p Специализация по специальности «Офтальмология», МАПО, 1994 год
									div.p-slider__btn
										a(href="#" data-doc='Андреевой Н.А.' data-popup='order').button.button--orange.button--big Записаться к врачу

							div.p-slider__slide
								div.p-slider__media
									a(data-fancybox="Larina" href="assets/files/video/Larina.mp4").p-slider__media-link
									div(style='background-image:url(assets/images/content/person_2.jpg)').p-slider__image
									video(loop muted autoplay).p-slider__video
										source(data-src='assets/files/video/Larina_short.mp4').b-lazy
								div.p-slider__content
									div.p-slider__content-row
										div.p-slider__top
											div.p-slider__position Врач-офтальмолог
											div.p-slider__name Ларина Виктория Алексеевна
										div.p-slider__options
											div.p-slider__options-col.p-slider__options-col--short
												div.p-slider__options-title Стаж
												div.p-slider__options-text
													p 20 лет
											div.p-slider__options-col
												div.p-slider__options-title Образование
												div.p-slider__options-text
													p Актюбинская Государственная Медицинская Академия, специальность «педиатрия», 1997 год
													p Интернатура по специальности «Офтальмология», АГМА, 1998 год
									div.p-slider__btn
										a(href="#" data-doc='Лариной В.А.' data-popup='order').button.button--orange.button--big Записаться к врачу

							div.p-slider__slide
								div.p-slider__media
									a(data-fancybox="Guseva" href="assets/files/video/Guseva.mp4").p-slider__media-link
									div(style='background-image:url(assets/images/content/person_3.jpg)').p-slider__image
									video(loop muted autoplay).p-slider__video
										source(data-src='assets/files/video/Guseva_short.mp4').b-lazy
								div.p-slider__content
									div.p-slider__content-row
										div.p-slider__top
											div.p-slider__position Врач-офтальмолог
											div.p-slider__name Гусева Марина Сергеевна
										div.p-slider__options
											div.p-slider__options-col.p-slider__options-col--short
												div.p-slider__options-title Стаж
												div.p-slider__options-text
													p 10 лет
											div.p-slider__options-col
												div.p-slider__options-title Образование
												div.p-slider__options-text
													p Саратовский Государственный Седицинский Университет им. Разумовского, специальность «лечебное дело», 2007 год
													p Ординтура по специальности «Офтальмология», кафедра глазных болезней СГМУ, 2009 год
									div.p-slider__btn
										a(href="#" data-doc='Гусевой М.С.' data-popup='order').button.button--orange.button--big Записаться к врачу

							div.p-slider__slide
								div.p-slider__media
									a(data-fancybox="Ivannikova" href="assets/files/video/Ivannikova.mp4").p-slider__media-link
									div(style='background-image:url(assets/images/content/person_4.jpg)').p-slider__image
									video(loop muted autoplay).p-slider__video
										source(data-src='assets/files/video/Ivannikova_short.mp4').b-lazy
								div.p-slider__content
									div.p-slider__content-row
										div.p-slider__top
											div.p-slider__position Врач-офтальмолог
											div.p-slider__name Иванникова Светлана Николаевна
										div.p-slider__options
											div.p-slider__options-col.p-slider__options-col--short
												div.p-slider__options-title Стаж
												div.p-slider__options-text
													p 3 года
											div.p-slider__options-col
												div.p-slider__options-title Образование
												div.p-slider__options-text
													p Воронежский Государственный Медицинский Университет  им. Бурденко, специальность «лечебное дело», 2015 год
													p Интернатура по специальности «Офтальмология», ВГМУ  им. Бурденко, 2016 год
									div.p-slider__btn
										a(href="#" data-doc='Иванниковой С.Н.' data-popup='order').button.button--orange.button--big Записаться к врачу

							div.p-slider__slide
								div.p-slider__media
									a(data-fancybox="Matusovskaya" href="assets/files/video/Matusovskaya.mp4").p-slider__media-link
									div(style='background-image:url(assets/images/content/person_5.jpg)').p-slider__image
									video(loop muted autoplay).p-slider__video
										source(data-src='assets/files/video/Matusovskaya_short.mp4').b-lazy
								div.p-slider__content
									div.p-slider__content-row
										div.p-slider__top
											div.p-slider__position Врач-офтальмолог
											div.p-slider__name Матусовская Анна Викторовна
										div.p-slider__options
											div.p-slider__options-col.p-slider__options-col--short
												div.p-slider__options-title Стаж
												div.p-slider__options-text
													p 2 года
											div.p-slider__options-col
												div.p-slider__options-title Образование
												div.p-slider__options-text
													p Санкт-Петербургский Государственный Медицинский Университет, медицинский факультет,специальность «лечебное дело», 2015 год
													p Интернатура по специальности «Офтальмология», ПСПбГМУ им. Павлова, 2016 год
									div.p-slider__btn
										a(href="#" data-doc='Матусовской А.В.' data-popup='order').button.button--orange.button--big Записаться к врачу


			div(data-wow-offset='20').c-section#diagn.wow.fadeIn
				div.c-section__content
					div.section__title Расширенная диагностика
					div.section__text Всего за 59 минут узнайте о своих глазах все!
				div.c-section__media
					div.c-section__stats 59
						|
						span.c-section__stats-span мин.
					img(src="assets/images/content/section_2.svg", alt="").section__image-file

			div(data-wow-offset='20').d-section.wow.fadeIn
				div.d-section__content
					div.d-section__text Компьютерная диагностика зрения позволяет выявить заболевания и патологии глаз на ранней стадии.
					div.d-section__ol
						div.d-section__ol-title В диагностику входит:
						div.d-section__ol-list
							div.d-section__ol-item Авторефрактомия
							div.d-section__ol-item Биомикроскопия переднего глаза
							div.d-section__ol-item Офтальмоскопия глазного дна
							div.d-section__ol-item Офтальмотонометрия
							div.d-section__ol-item Компьютерная периметрия
							div.d-section__ol-item Заключение и рекомендации
					div.d-section__bottom
						div.d-section__cost
							div.d-section__cost-title Стоимость диагностики
							div.d-section__cost-value 1 200 руб.
						div.d-section__button
							a(href="#" data-popup='diagnostics').button.button--orange.button--big Записаться на прием
				div.d-section__d-slider
					div.d-slider
						div.d-slider__scene.owl-carousel
							div.d-slider__slide
								img(alt="", src='assets/images/content/d-slider_1.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/diag_2.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/diag_3.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/diag_4.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/Diagnostics.jpg').d-slider__image
						div.d-slider__counter
							div.d-slider__counter-inner
								div.d-slider__counter-current
								div.d-slider__counter-value

			div.c-section.c-section--reverse.c-section--center#treatment
				div.c-section__content
					div(data-wow-offset='20').section__title.wow.fadeInUp Лечение<br> и коррекция
					div(data-wow-offset='20').section__text.wow.fadeInUp Амбулаторное лечение и коррекция глаз на современном оборудовании.
				div(data-wow-offset='20').c-section__media.wow.fadeIn
					img(src="assets/images/content/Treatment.svg", alt="").section__image-file

			div(data-wow-offset='20').pricing.wow.fadeIn.js-drop-wrapper
				div.pricing__side-opener-wrapper
					div.button.button--grey.button--big.pricing__side-opener.js-drop-opener Близорукость
				div.pricing__side.js-drop
					a(href="#" data-type='bliz' data-price='7000').pricing__side-btn.is-active Близорукость
					a(href="#" data-type='amb' data-price='7000').pricing__side-btn Амблиопия
					a(href="#" data-type='pina' data-price='8000').pricing__side-btn ПИНА
					a(href="#" data-type='chro' data-price='7000').pricing__side-btn Хроническое зрительное утомление
					a(href="#" data-type='kos' data-price='6000').pricing__side-btn Косоглазие
				div.pricing__content
					div.pricing__top
						div.pricing__top-prices
							div.pricing__top-price-item
								div.d-section__cost-title Стоимость курса 
								div.d-section__cost-value.js-price 7000 руб.
							div.pricing__top-price-item.pricing__top-price-item--orange
								div.d-section__cost-title Первое занятие
								div.d-section__cost-value бесплатно
						div.pricing__top-button
							a(href="#" data-popup='free' data-issue='true').button.button--orange.button--big Записаться на занятие

					div.pricing__offers
						div.pricing__offers-section#pina
							div.pricing__offers-row
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-1').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_1.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Макдэл 08
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-2').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_2.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Амо-Атос
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-3').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_4.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Плеоптика 3-Тир, Галактика
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-4').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_5.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Визотроник методика 1,3
											div.p-card__note 10 занятий
										div.p-card__plus

						div.pricing__offers-section#bliz.is-active
							div.pricing__offers-row
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-1').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_1.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Макдэл 08
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-4').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_5.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Визотроник методика 1,3
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-3').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_4.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Плеоптика 3-Тир, Галактика
											div.p-card__note 10 занятий
										div.p-card__plus


						div.pricing__offers-section#amb
							div.pricing__offers-row
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-1').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_1.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Макдэл 08
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-2').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_6.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Амо-Атос
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-5').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_3.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Синоптофор
											div.p-card__note 10 занятий
										div.p-card__plus

						div.pricing__offers-section#chro
							div.pricing__offers-row
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-1').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_1.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Макдэл 08
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-2').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_6.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Амо-Атос
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-3').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_4.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Плеоптика 3-Тир, Галактика
											div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-4').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_5.jpg)').p-card__photo-file
										div.p-card__data
											div.p-card__name Визотроник методика 1,3
											div.p-card__note 10 занятий
										div.p-card__plus

						div.pricing__offers-section#kos
							div.pricing__offers-row
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-5').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_3.jpg)').p-card__photo-file
										div.p-card__name Синоптофор
										div.p-card__note 10 занятий
										div.p-card__plus
								div.pricing__offers-item
									div.p-card
										div(data-popup='p-card-3').p-card__link.js-modal
										div.p-card__num
										div.p-card__photo
											div(style='background-image:url(assets/images/content/p-card_4.jpg)').p-card__photo-file
										div.p-card__name Плеоптика 3-Тир, Галактика
										div.p-card__note 10 занятий
										div.p-card__plus


			div.c-section.c-section--custom#virtual
				div.c-section__content
					div(data-wow-offset='20').section__title.wow.fadeInUp Виртуальный<br> 3D-тур
					div(data-wow-offset='20').section__text.wow.fadeInUp Мегаоптика — это несколько залов с широким ассортиментом и кабинеты с современным медицинским оборудованием.
				div(data-wow-offset='20').c-section__media.wow.fadeIn
					img(src="assets/images/content/section_4.svg", alt="").section__image-file

			div(data-wow-offset='20').tour.wow.fadeIn.js-drop-wrapper#tour-scene
				div.tour__opener-wrapper
					div.button.button--big.button--grey.js-drop-opener.tour__opener 3D-тур общий
				div.tour__controls.js-drop
					div.tour__controls-item
						a(href="#" data-brands='brands-mass' data-scene='3d/3d_tour_ALLall/3d_tour_ALLall.html').button.button--light.tour__controls-link.is-active 3D-тур общий
					div.tour__controls-item
						a(href="#" data-brands='brands-mass' data-scene='3d/3d_tour_MassMarket_NEW/3d_tour_MassMarket_NEW.html').button.button--light.tour__controls-link Зал Massmarket
					div.tour__controls-item
						a(href="#" data-brands='brands-design' data-scene='3d/3d_tour_Fashion_NEW/3d_tour_Fashion_NEW.html').button.button--light.tour__controls-link Зал Fashion
					div.tour__controls-item
						a(href="#" data-brands='brands-luxury' data-scene='3d/3d_tour_Luxury/3d_tour_Luxury.html').button.button--light.tour__controls-link Зал Luxury
					div.tour__controls-item
						a(href="#" data-brands='brands-child' data-scene='3d/3d_tour_KIDSAREA/3d_tour_KIDSAREA.html').button.button--light.tour__controls-link Зал детский
					div.tour__controls-item
						a(href="#" data-brands='brands-correction' data-scene='3d/3d_tour_kabinety_1212/kabinety_1212.html').button.button--light.tour__controls-link Зал коррекции и лечения
				div.tour__inner
					div.tour__scene
						iframe(data-src="3d/3d_tour_ALLall/3d_tour_ALLall.html" width="100%" height="100%" frameBorder="0").tour__content.b-lazy
					div.tour__brands#brands-mass.is-active
						div.brands.brands--60.js-scrollbar
							div.brands__row
								div.brands__item
									img(data-src="assets/images/content/brand_1.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_2.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_3.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_4.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_5.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_6.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_7.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_8.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_9.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_10.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_11.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_12.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_13.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_14.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_15.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_16.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_17.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_18.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_19.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_20.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_21.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_22.svg", alt="").brands__item-image

					div.tour__brands#brands-design
						div.brands.brands--80.js-scrollbar
							div.brands__row
								div.brands__item
									img(data-src="assets/images/content/brand_23.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_24.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_25.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_26.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_27.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_28.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_29.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_30.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_31.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_32.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_33.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_34.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_35.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_36.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_37.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_38.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_39.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_40.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_41.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_42.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_43.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_44.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_45.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_46.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_47.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_49.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_50.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_51.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_52.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_53.svg", alt="").brands__item-image

					div.tour__brands#brands-luxury
						div.brands.brands--95.js-scrollbar
							div.brands__row
								div.brands__item
									img(data-src="assets/images/content/brand_54.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_55.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_56.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_57.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_58.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_59.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_60.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_61.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_62.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_63.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_64.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_65.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_66.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_67.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_68.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_69.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_70.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_71.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_72.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_73.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_74.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_75.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_76.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_77.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_78.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_79.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_80.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_81.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_82.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_83.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_84.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_85.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_86.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_87.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_88.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_89.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_90.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_91.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_92.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_93.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_94.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_95.svg", alt="").brands__item-image

					div.tour__brands#brands-child
						div.brands.brands--60.js-scrollbar
							div.brands__row
								div.brands__item
									img(data-src="assets/images/content/brand_97.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_98.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_99.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_101.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_102.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_103.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_104.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_105.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_106.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_107.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_108.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_109.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_110.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_111.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_112.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_113.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_114.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_115.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_116.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_117.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_118.svg", alt="").brands__item-image
								div.brands__item
									img(data-src="assets/images/content/brand_119.svg", alt="").brands__item-image

					div.tour__more-wrapper
						div(data-open='Все бренды' data-hide='Закрыть').tour__more

			div.c-section.c-section--reverse.c-section--center.c-section--moved.c-section--nopadding#master
				div.c-section__content
					div(data-wow-offset='20').section__title.wow.fadeInUp Мастерская
					div(data-wow-offset='20').section__text.wow.fadeInUp У нас можно изготовить очки любой сложности.
				div(data-wow-offset='20').c-section__media.wow.fadeIn
					img(src="assets/images/content/section_5.svg", alt="").section__image-file

			div(data-wow-offset='20').d-section.wow.fadeIn
				div.d-section__content
					div.d-section__ol.d-section__ol--custom
						div.d-section__ol-title Изготовление очков по индивидуальным параметрам:
						div.d-section__ol-list
							div.d-section__ul-item 3D сканирование оправы на Вашем лице
							div.d-section__ul-item Используется сверхточное оборудование
							div.d-section__ul-item Процесс производства по ГОСТ 51193 от 2009 г.
					div.d-section__bottom
						div.d-section__link
							a(href="assets/files/video/mast.mp4" data-fancybox="master").link.link--orange.link--video Смотреть видео
						div.d-section__button
							a(href="#" data-popup='mastery').button.button--orange.button--big Заказать
				div.d-section__d-slider
					div.d-slider
						div.d-slider__scene.owl-carousel
							div.d-slider__slide
								//- div(style='background-image:url()').d-slider__image
								img(alt="", src='assets/images/content/d-slider_2.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/mast_2.jpg').d-slider__image
							div.d-slider__slide
								img(alt="", src='assets/images/content/mast_3.jpg').d-slider__image
						div.d-slider__counter
							div.d-slider__counter-inner
								div.d-slider__counter-current
								div.d-slider__counter-value

			div.c-section.c-section--center#comf
				div.c-section__content
					div(data-wow-offset='20').section__title.wow.fadeInUp Зона комфорта
					div(data-wow-offset='20').section__text.wow.fadeInUp С нами удобно!
				div(data-wow-offset='20').c-section__media.wow.fadeIn
					img(src="assets/images/content/section_6.svg", alt="").section__image-file

			div.d-section.d-section--reverse.d-section--aic
				div.d-section__content
					div.d-section__features
						div(data-wow-offset='20').d-section__feature.wow.fadeInUp
							div.d-section__feature-title Детская площадка
							div.d-section__feature-text Дети будут увлечены возможностями нашей площадки.
						div(data-wow-offset='20').d-section__feature.wow.fadeInUp
							div.d-section__feature-title Собственная парковка
							div.d-section__feature-text Для посетителей действует бесплатная парковка.
						div(data-wow-offset='20').d-section__feature.wow.fadeInUp
							div.d-section__feature-title Уютное кафе
							div.d-section__feature-text Где можно выпить чашку горячего чая или кофе.

				div(data-wow-offset='20').d-section__d-slider.wow.fadeIn
					div.d-slider
						div.d-slider__scene.owl-carousel
							div.d-slider__slide
								img(alt="" src='assets/images/content/d-slider_3.jpg').d-slider__image
							div.d-slider__slide
								img(alt="" src='assets/images/content/d-slider-new.jpg').d-slider__image
							div.d-slider__slide
								img(alt="" src='assets/images/content/diag_5.jpg').d-slider__image
						div.d-slider__counter
							div.d-slider__counter-inner
								div.d-slider__counter-current
								div.d-slider__counter-value

			div.d-section.d-section--contacts#contacts
				div.d-section__content
					div.d-section__cont
						div(data-wow-offset='20').d-section__cont-title.wow.fadeInUp Как нас найти
						div.d-section__cont-content
							div(data-wow-offset='20').d-section__cont-text.wow.fadeInUp Санкт-Петербург,<br> Лиговский проспект, д. 52
							div.d-section__cont-btn.wow.fadeInUp
								a(href="#" data-popup='contact').button.button--orange.button--big Задать вопрос
							div(data-wow-offset='20').d-section__cont-note.wow.fadeInUp Мы ждем Вас в гости!

				div(data-wow-offset='20').d-section__d-slider.wow.fadeIn
					div.d-section__map#yaMap

	//- div#demo

	