//default settings

body {
	font-family: 'Merriweather';
	font-size: 16px;
	overflow-x: hidden;

	&.is-unscrolled {
		overflow: hidden;
	}
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-webkit-backface-visibility: hidden;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-overflow-scrolling: touch;
}

.page {
	
}

.container {
	padding: 0 50px;
	max-width: 1600px;
	width: 100%;
	margin: 0 auto;
}

.content {
	padding-top: 85px;
	overflow-x: hidden;
}

.wow {
	// visibility: hidden;
}