@media screen and (max-width: 1279px) {

	.acu__content {
		padding: 40px 20px 20px 40px;
	}

	.acu__title {
		font-size: 36px;
		line-height: 1;
	}

	.acu__info {
		margin-left: -20px;
	}

	.acu__info-name {
		font-size: 36px;
	}

	.acu__info-note {
		font-size: 18px;
	}

	.owl-carousel .owl-item .acu__info-img {
		max-width: 130px;
	}
}

@media screen and (max-width: 767px) {

	.acu {
		display: block;
		padding-bottom: 85px;
	}

	.acu__content {
		width: 100%;
		padding: 30px;
	}

	.acu__title {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 20px;
	}

	.acu__media {
		width: 100%;
		height: 245px;
	}

	.owl-carousel .owl-item .acu__info-img {
		max-width: 120px;
		margin-right: 15px;
	}

	.acu__info-name {
		font-size: 30px;
		line-height: 48px;
	}

	.acu__info-note {
		font-size: 18px;
		line-height: 1;
	}

	.acu__note {
		font-size: 11px;
		line-height: 18px;
		background-color: #EFF5F5;
		padding: 15px 25px;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		height: 84px;
	}
}