@media screen and (max-width: 1279px) {

	.brands {
		padding: 30px 30px 30px 85px;
		width: 95%;
	}

	.brands__item-image {
		max-width: 125px;
		max-height: 30px;
	}
}

@media screen and (max-width: 767px) {

	.brands {
		width: 100%;
		padding: 20px;
		overflow: hidden;
	}

	.brands__item {
		width: 25%;
		padding: 0 7px;
		height: 55px;
	}

	.brands__item-image {
		max-width: 100%;
		max-height: 22px;
	}
}