@media screen and (max-width: 1600px) {

	.c-section {
		margin-bottom: 70px;

		&--reverse {

			.c-section__content {

				@media screen and (min-width: 1280px) {
					padding-left: 65px;
				}
			}
		}

		&--custom {
			margin-bottom: 30px;
		}
	}

	.c-section__content {

		@media screen and (min-width: 1280px) {
			width: 500px;
		}
	}
}

@media screen and (max-width: 1279px) {

	.c-section {
		-webkit-flex-direction: column-reverse;
		-moz-flex-direction: column-reverse;
		-ms-flex-direction: column-reverse;
		-o-flex-direction: column-reverse;
		flex-direction: column-reverse;
		padding-top: 40px;
		margin-bottom: 100px;
	}

	.c-section__content {

		@media screen and (min-width: 768px) {
			-webkit-flex-direction: row;
			-moz-flex-direction: row;
			-ms-flex-direction: row;
			-o-flex-direction: row;
			flex-direction: row;
			-ms-align-items: flex-start;
			align-items: flex-start;

			.section__title,
			.section__text {
				width: 50%;
				margin-bottom: 0;
			}

			.section__text {
				text-align: left;
				padding-top: 12px;
				padding-left: 20px;
			}

			.section__title {
				padding-right: 40px;
			}
		}
	}

	.c-section__stats {
		display: none;
	}

	.c-section__media {
		margin-bottom: 50px;
		width: 100%;
	}
}

@media screen and (max-width: 767px) {

	.c-section {
		padding-top: 20px;
		margin-bottom: 35px;
	}

	.c-section__media {
		margin-bottom: 40px;
	}

	.c-section__content {
		text-align: center;
		-ms-align-items: center;
		align-items: center;
	}

	.section__image-file {
		margin-left: -40px;
		margin-right: -40px;
	}
}


















