@media screen and (max-width: 1279px) {

	.d-slider__arrow {
		position: absolute;
		height: 35px;
		width: 35px;
		top: 50%;
		border-radius: 50%;
		background-color: #232237;
		cursor: pointer;

		&:after {
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 15px;
			height: 10px;
			background-position: center;
			background-repeat: no-repeat;
		}

		&--prev {
			left: -20px;

			&:after {
				background-image: url(../images/static/d-slider-prev.svg);
			}
		}

		&--next {
			right: -20px;

			&:after {
				background-image: url(../images/static/d-slider-next.svg);
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.d-slider__arrow  {
		display: none;
	}

	.d-slider__counter {
		margin: 20px 0;
		font-size: 12px;
		color: #fff;
	}

	.d-slider__counter-inner {
		padding: 10px 15px;
		background-color: #262626;
		border-radius: 20px;
	}
}