@media screen and (max-width: 1600px) {

	.d-section {
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding-bottom: 50px;

		&--reverse {

			.d-section__content {

				@media screen and (min-width: 1280px) {
					padding-left: 80px;	
				}
			}
		}

		&--aic {
			-ms-align-items: center;
			align-items: center;
		}

		&--contacts {
			margin-top: 80px;
		}
	}

	.d-section__content {

		@media screen and (min-width: 1280px) {
			width: 360px;
			padding: 0 40px 0 0;
		}
	}

	.d-section__d-slider {

		@media screen and (min-width: 1280px) {
			width: calc(100% - 360px);
		}
	}

	.d-section__text {
		margin-bottom: 40px;
	}

	.d-section__feature-title {
		margin-bottom: 15px;
	}

	.d-section__cont-title {
		margin-bottom: 40px;
	}

	.d-section__cont-text {
		margin-bottom: 50px;
	}

	.d-section__cont-btn {
		margin-bottom: 60px;
	}
}

@media screen and (max-width: 1279px) {

	.d-section {
		margin-bottom: 50px;

		&--contacts {
			margin-top: 75px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media screen and (min-width: 768px) {

		.d-section__cont {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		.d-section__cont-title {
			width: 300px;
		}

		.d-section__cont-content {
			padding-top: 10px;
			padding-bottom: 70px;
		}

		.d-section__cont-text {
			margin-bottom: 25px;
		}

		.d-section__cont-btn {
			margin-bottom: 30px;
		}

		.d-section__ol-list {
			columns: 2 200px;
		}
		
		.d-section__bottom {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			-ms-align-items: center;
			align-items: center;
			padding-left: 70px;
			margin-bottom: 60px;
		}

		.d-section__ol-list {
			columns: 2 200px;
		}

		.d-section__button {
			margin-top: 0;
		}

		.d-section__cost,
		.d-section__link {
			margin-bottom: 0;
			margin-right: 60px;
		}

		.d-section__features {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
		}

		.d-section__feature {
			width: 190px;
		}

		.d-section__ol {

			&--custom {
				padding-left: 75px;

				.d-section__ol-list {
					columns: 1;
				}

				.d-section__ul-item {
					max-width: 100%;
				}
			}
		}

		.d-section__map {
			margin-left: -40px;
			margin-right: -40px;
			height: 550px;
			width: auto;
		}
	}

	.d-section__feature-title {
		font-size: 14px;
		line-height: 28px;
		height: 30px;
		overflow: hidden;
		margin-bottom: 20px;
	}

	.d-section__feature-text {
		font-size: 14px;
		line-height: 24px;
	}

	.d-section__feature {
		margin-bottom: 50px;
	}

	.d-section__cont {
		padding-top: 0;
	}

	.d-section__cont-title {
		font-size: 48px;
		line-height: 1;
	}

	.d-section__cont-note {
		font-size: 20px;
	}
}

@media screen and (max-width: 767px) {

	.d-section {
		margin-bottom: 30px;

		&--contacts {
			margin-top: 45px;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	.d-section__text {
		font-size: 14px;
		line-height: 24px;
	}

	.d-section__ol-title {
		margin-bottom: 30px;
	}

	.d-section__ol-list {
		padding-left: 25px;
	}

	.d-section__cost {
		margin-bottom: 40px;
	}

	.d-section__button {
		margin-top: 40px;
		justify-content: center;
	}

	.d-section__content {
		margin-bottom: 50px;
	}

	.d-section__d-slider {
		margin-left: -20px;
		margin-right: -20px;
	}

	.d-section__feature-title {
		font-size: 13px;
		height: auto;
		margin-bottom: 15px;
		line-height: 1;
	}

	.d-section__feature {
		margin-bottom: 35px;
	}

	.d-section__cost-value {
		font-size: 24px;
		line-height: 36px;
	}

	.d-section__cost-title {
		margin-bottom: 5px;
	}

	.d-section__cont {
		text-align: center;
	}

	.d-section__cont-title {
		font-size: 35px;
		margin-bottom: 35px;
	}

	.d-section__cont-text {
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 35px;
	}

	.d-section__cont-btn {
		justify-content: center;
		margin-bottom: 40px;
	}

	.d-section__cont-note {
		font-size: 18px;
	}

	.d-section__map {
		height: 80vw;
	}

	.d-section__cost-title {
		font-size: 12px;
	}

	.d-section__cost-value {
		font-size: 18px;
	}

	.pricing__top-button {
		justify-content: center;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}









