@media screen and (max-width: 1600px) {

	.g-slider__slide {
		padding: 0;
	}

	.g-slider__arrow {
		display: none;
	}
}

@media screen and (max-width: 1365px) {

	.g-slider__content {
		padding: 50px;
	}

	.g-slider__features {
		justify-content: space-between;
	}

	.g-slider__feature {
		width: auto;
		margin-bottom: 15px;

		&:last-child {
			margin-bottom: 0;
		}

		@media screen and (min-width: 1280px) {
			padding-right: 30px;
		}
	}
}

@media screen and (max-width: 1279px) {

	.g-slider__content {
		padding: 50px 50px 30px 50px;
	}

	.g-slider {
		margin-bottom: 80px;
	}

	.g-slider__title {
		font-size: 36px;
		line-height: 1;
		margin-bottom: 30px;
	}

	.g-slider__price {
		margin-top: 12px;
		margin-bottom: 0;
	}

	.g-slider__price-text {
		font-size: 24px;
	}

	.g-slider__price-value {
		font-size: 64px;
	}

	.g-slider__note {
		position: absolute;
		left: calc(48% - -20px);
		right: 20px;
		bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		white-space: normal;
		color: #333;
		padding: 15px 20px;
	}

	.g-slider__feature {
		margin-bottom: 7px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.g-slider__lang {
		font-size: 24px;
		line-height: 1;

		&:before {
			width: 80px;
			height: 80px;
		}
	}

	.g-slider__slide {

		&--custom {

			.g-slider__content {
				padding: 39px;
			}
		}
	}

	.g-slider__text {
		padding-left: 0;
	}

	.g-slider__percent {
		font-size: 96px;

		&:after {
			font-size: 30px;
		    transform: translate(10px, -30px);
		}
	}

}

@media screen and (max-width: 767px) {

	.g-slider {
		margin-bottom: 50px;

		.owl-dots {
			margin-top: 30px;
		}
	}

	.g-slider__media {
		height: 300px;
	}

	.g-slider__content {
		padding: 40px 30px;
	}

	.g-slider__title {
		font-size: 24px;
		margin-bottom: 5px;
	}

	.g-slider__price-text {
		font-size: 18px;
	}

	.g-slider__price-value {
		font-size: 36px;
		margin-top: -10px;
	}

	.g-slider__note {
		left: 20px;
		font-size: 12px;
		line-height: 18px;
		padding: 15px;
	}

	.g-slider__percent {
		font-size: 100px;

		&:after {
			font-size: 46px;
		}
	}

	.g-slider__lang {
		padding-left: 80px;
		font-size: 20px;
		margin-bottom: 0;

		&:before {
			// display: block;
			// position: relative;
			margin: 0 auto;
			margin-bottom: 30px;
			width: 60px;
			height: 60px;
		}
	}

	.g-slider__text {
		text-align: center;
	}

	.g-slider__slide {
		height: 540px;
		overflow: hidden;

		&--custom {

			.g-slider__content {
				padding: 25px;
			}
		}
	}

	.g-slider__text {
		position: absolute;
		text-align: left;
		font-size: 12px;
		line-height: 18px;
		background-color: #fff;
		padding: 20px 25px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
}






































