@media screen and (max-width: 1279px) {

	.linz {
		padding-left: 45px;
		padding-top: 50px;
		background-position: -52px 250px;

		&:after {
			-webkit-background-size: cover;
			background-size: cover;
			height: 100%;
			width: 270px;
		}
	}

	.linz__title {
		font-size: 40px;
		line-height: 1;
		margin-bottom: 30px;
	}

	.linz__col {

		&--big {
			width: 340px;
		}
	}

	.linz__price-title {
		font-size: 24px;
	}

	.linz__price-value {
		font-size: 64px;
	}

	.linz__options {
		display: block;
	}

	.linz__note {
		position: relative;
		z-index: 1;
	}

	.linz__made {
		position: relative;
		margin-left: 0;
		padding-left: 70px;
		margin-top: 60px;

		&:before {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	.owl-carousel .owl-item .linz__icon {
		width: 160px;
		height: auto;
		position: absolute;
		left: 309px;
		top: 170px;
	}
}

@media screen and (max-width: 767px) {

	.linz {
		padding-top: 40px;
		padding-left: 20px;
		padding-right: 20px;
		background-size: 1240px 630px;
	    background-position: -59px 69px;

		&:after {
			height: 320px;
			width: 215px;
			top: 206px;
		}
	}

	.linz__title {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 20px;
	}

	.linz__price-title {
		font-size: 18px;
		margin-bottom: 10px;
	}

	.linz__price-value {
		font-size: 36px;

		span {
			font-size: 18px;
		}
	}

	.owl-carousel .owl-item .linz__icon {
		width: 90px;
		left: 173px;
		top: 111px;
	}

	.linz__made {
		padding-left: 0;
		text-align: center;
		width: 90px;
		line-height: 22px;

		&:before {
			position: static;
			transform: translate(0);
		}
	}

	.linz__note {
		position: relative;
		padding: 10px 10px;
		margin-top: 70px;
		margin-bottom: 0;
		border-radius: 10px;

		&:after {
			content: '';
			position: absolute;
			left: -100px;
			right: -100px;
			top: 64px;
			height: 400px;
			background-color: #fff;
			z-index: -1;
		}
	}

	.linz__note-row {
		display: block;
	}

	.linz__note-col {
		margin-right: 0;
		width: 100%;
		margin-bottom: 30px;
		font-size: 11px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}


































