@media screen and (max-width: 1600px) {

	.p-card {

		@media screen and (min-width: 768px) {
			max-width: 190px;
		}
	}
} 

@media screen and (max-width: 1279px) {

	.p-card__name {

		@media screen and (min-width: 768px) {
			height: 49px;
		}
	}
}

@media screen and (max-width: 767px) {

	.p-card__num {
		display: none;
	}

	.p-card {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		margin-bottom: 20px;
	}

	.p-card__photo {
		width: 100px;
		height: 100px;
		flex-shrink: 0;
		margin-right: 15px;
		margin-bottom: 0;
	}

	.p-card__plus {
		width: 50px;
		height: 50px;
		flex-shrink: 0;
		margin-left: auto;
	}

	.p-card__name {
		height: auto;
		margin-bottom: 10px;
		font-size: 13px;
		line-height: 22px;
	}

	.p-card__note {
		margin-bottom: 0;
	}

	.p-card__note {
		font-size: 12px;
	}
}