@media screen and (max-width: 1279px) {

	.p-checker__link {
		padding: 15px;
	}
}

@media screen and (max-width: 767px) {

	.p-checker__opener {
		margin-bottom: 10px;
	}

	.p-checker__row {
		width: 200px;
		margin: 0 auto;
		background-color: #F0F5F5;
		overflow: hidden;
		border-radius: 25px;
		padding: 15px 0;
		display: none;
	}

	.p-checker__link {
		background-color: transparent;
		padding: 15px 25px;

		&.is-active {
			display: none;
		}
	}
}