@media screen and (max-width: 1600px) {

	.p-slider__content {
		
		@media screen and (min-width: 1280px) {
			width: 470px;
			padding: 0 0 0 80px;
		}
	}

	.p-slider__media {

		&:before {
			// @include aspect-ratio(1,1);
		}
	}

	.p-slider__slide {
		-ms-align-items: flex-start;
		align-items: flex-start;
	}

	.p-slider__options-text {
		font-size: 14px;
		line-height: 24px;
	}

	.p-slider__name {
		margin-bottom: 40px;
	}

	.p-slider__options {
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 1279px) {

	.p-slider__media {
		margin-bottom: 60px;
	}

	.p-slider__name {
		font-size: 36px;
	}

	.p-slider__options {
		margin-bottom: 30px;
	}

	.p-slider__slide {
		margin-bottom: 0;
	}

	@media screen and (min-width: 768px) {

		.p-slider__content-row {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		.p-slider__top {
			width: 290px;
			flex-shrink: 0;
			padding-right: 50px;
		}

		.p-slider__options-col {

			&--short {
				width: 115px;
			}
		}
	}
}

@media screen and (max-width: 767px) {

	.p-slider {
		margin-left: -20px;
		margin-right: -20px;
	}

	.p-slider__content {
		padding: 0 20px;
	}

	.p-slider__media {
		margin-bottom: 35px;

		&:after {
			width: 50px;
			height: 50px;
		}
	}

	.p-slider__position {
		font-size: 15px;
		margin-bottom: 10px;
	}

	.p-slider__name {
		font-size: 24px;
		line-height: 1;
		margin-bottom: 25px;
	}

	.p-slider__options-col {
		margin-bottom: 30px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.p-slider__options-title {
		margin-bottom: 10px;
	}

	.p-slider__btn {
		justify-content: center;
	}
}






















