@media screen and (max-width: 1600px) {

	.p-top {
		margin-left: 125px;

		&:after {
			top: -180px;
			width: 900px;
			height: 900px;
		}
	}
}

@media screen and (max-width: 1279px) {

	.p-top {
		padding-top: 40px;
		margin-left: 70px;
		padding-bottom: 100px;
		padding-right: 130px;

		&:after {
			top: -170px;
			width: 500px;
			height: 650px;
			left: 45%;
		}
	}

	.p-top__title {
		font-size: 48px;
		line-height: 1;
		margin-bottom: 40px;
	}

	.p-top__text {
		font-size: 20px;
		line-height: 30px;
	}
}

@media screen and (max-width: 767px) {

	.p-top {
		text-align: center;
		margin-left: 0;
		padding-right: 0;
		padding-bottom: 50px;

		&:after {
			display: none;
		}
	}

	.p-top__title {
		font-size: 35px;
		line-height: 1;
		margin-bottom: 30px;
	}

	.p-top__text {
		font-size: 18px;
		line-height: 28px;
		margin-bottom: 30px;
	}
}