@media screen and (max-width: 1279px) {

	.persons {
		padding-bottom: 0;
	}
}

@media screen and (max-width: 767px) {

	.persons {
		padding-top: 0;
	}

	.persons__p-checker {
		margin-bottom: 40px;
	}
}