@media screen and (max-width: 1279px) {

	.popup__closer {
		top: 30px;
		right: 30px;
	}

	.popup__inner {
		padding: 100px 20px;
	}
}

@media screen and (max-width: 767px) {

	.popup__container {
		width: 100%;
		padding: 30px 20px;
	}

	.popup__title {
		font-size: 24px;
		line-height: 1;
		text-align: center;
	}

	.popup__enemy {
		padding-right: 35px;
	}

	.popup__enemy-input {
		font-size: 13px;
		width: 190px;
	}
}