@media screen and (max-width: 1600px) {

	.pricing__content {
		@media screen and (min-width: 1280px) {
			padding-left: 80px;
		}
	}

	.pricing__side {
		
		@media screen and (min-width: 1280px) {
			width: 200px;
		}
	}

	.pricing__top {
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 1279px) {

	.pricing {
		margin-bottom: 20px;
	}

	.pricing__side-btn {
		padding: 17px 20px;
		font-size: 14px;
		line-height: 1;
		text-align: center;
		flex-shrink: 0;
		flex: 1;
		color: #7289A6;
	}

	.pricing__side {
		justify-content: space-between;
		margin-bottom: 50px;
	}

	.pricing__top-price-item {
		margin-right: 45px;
		flex-shrink: 0;

		&:after {
			display: none;
		}
	}

	.pricing__top-button {
		margin-left: auto;
	}
}

@media screen and (max-width: 767px) {

	.pricing__side-opener-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		margin-bottom: 10px;
	}

	.pricing__side-opener {
		position: relative;
		padding-right: 50px;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 15px;
			height: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/static/p-checker-arr.svg);
			margin-left: 8px;
			transition: transform .3s;
		}

		&.is-active {

			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	.pricing__side {
		width: 200px;
		margin: 0 auto;
		border-radius: 25px;
	    background-color: #F0F5F5;
	    padding: 15px 0;
	    margin-bottom: 10px;
	    display: none;
	}

	.pricing__side-btn {
		max-width: 100%;
	}

	.pricing__content {
		margin-top: 40px;
	}

	.pricing__top-prices {
		margin-bottom: 30px;
	}
}