@media screen and (max-width: 1279px) {

	.s-popup {

		&--custom {

			.s-popup__card-inner {
				-webkit-flex-direction: column;
				-moz-flex-direction: column;
				-ms-flex-direction: column;
				-o-flex-direction: column;
				flex-direction: column;
			}

			.s-popup__num {
				display: none;
			}

			.s-popup__title {
				font-size: 35px;
				margin-bottom: 40px;
			}

			.s-popup__card {

				&:before {
					display: none;
				}
			}

			.s-popup__text {
				font-size: 14px;
				line-height: 24px;
				margin-bottom: 25px;
			}
		}
	}

	.s-popup__card {
		width: auto;
		height: auto;
		position: absolute;
		bottom: 40px;
		left: 40px;
		right: 40px;
	}

	.s-popup__inner {
		padding: 50px 40px;
	}

	.s-popup__card-inner {

		@media screen and (min-width: 768px) {

			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}
	}

	.s-popup__num {
		width: 120px;
		flex-shrink: 0;
	}

	.s-popup__title {
		margin-bottom: 30px;
	}

	.s-popup__list-item {
		margin-bottom: 7px;
	}

	.s-popup__content {
		padding-top: 5px;
		// max-width: 350px;
	}

	.s-popup__closer {
		position: absolute;
		right: 40px;
		top: 40px;
		width: 50px;
		height: 50px;
		cursor: pointer;
		background-image: url(../images/static/cursor-close.svg);
		background-position: center;
		background-repeat: no-repeat;
		border-radius: 50%;
		z-index: 2;

		&:before {
			content: '';
			position: absolute;
			left: -30px;
			right: -30px;
			bottom: -30px;
			top: -30px;
		}
	}
}

@media screen and (max-width: 767px) {

	.s-popup {

		&--custom {

			.s-popup__card-inner {
				padding: 45px 20px;
			}

			.s-popup__title {
				font-size: 24px;
				margin-bottom: 35px;
			}

			.s-popup__text {
				margin-bottom: 70px;
			}
		}
	}

	.s-popup__card {
		left: 0;
		bottom: auto;
		right: 0;
		top: 50vh;
	}

	.s-popup__card-inner {
		padding: 50px 40px 80px 40px;
	}

	.s-popup__image {
		height: 50vh;
		bottom: auto;
	}

	.s-popup__closer {
		position: fixed;
		right: 20px;
		top: 20px;
	}

	.s-popup__num {
		font-size: 36px;
		margin-bottom: 30px;
	}

	.s-popup__list-item {
		font-size: 13px;
		line-height: 22px;
		margin-bottom: 15px;
	}
}



















