@media screen and (max-width: 1600px) {

	.section {
		padding: 100px 0 70px 0;
	}

	.section__image {

		@media screen and (min-width: 1280px) {
			padding-right: 65px;
		}
	}

	.section__text {
		font-size: 24px;
		line-height: 36px;
	}

	.section__number {
		left: 16px;
	}
}

@media screen and (max-width: 1279px) {

	.section {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.section__number {
		display: none;
	}


	.section__title {
		font-size: 48px;
	}

	.section__text {
		font-size: 20px;
		line-height: 30px;
	}

	@media screen and (min-width: 768px) {

		.section__image {
			padding: 0 60px;
		}

		.section__content {
			padding-top: 50px;
			padding-left: 80px;
		}

		.section__content-inner {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		.section__title {
			width: 200px;
			flex-shrink: 0;
		}

		.section__text {
			padding-top: 10px;
		}
	}
}

@media screen and (max-width: 767px) {

	.section {
		padding-top: 20px;
	}

	.section__content {
		padding-top: 40px;
		text-align: center;
	}

	.section__image {
		margin-left: -20px;
		margin-right: -20px;
	}

	.section__title {
		font-size: 35px;
		margin-bottom: 25px;
	}

	.section__text {
		font-size: 18px;
		line-height: 28px;
	}

	.section__image-file {
		max-width: 130%;
	}
}



















