@media screen and (max-width: 1600px) {

	.service__content {
		height: 430px;
		padding: 40px 40px 80px 40px;
	}
}

@media screen and (max-width: 1279px) {

	.service {
		margin-bottom: 20px;

		&--blue {

			.service__content-data {

				&:after {
					background-color: #02D4F0;
				}
			}
		}

		&--dark-blue {

			.service__content-data {

				&:after {
					background-color: #4862BD;
				}
			}
		}

		&--green {

			.service__content-data {

				&:after {
					background-color: #5EC4B8;
				}
			}
		}

		&--orange {

			.service__content-data {

				&:after {
					background-color: #F17045;
				}
			}
		}
	}

	.service__number-wrapper {
		display: none;
	}

	.service__text {
		font-size: 16px;
	}

	.service__content {
		padding: 30px 30px 30px 70px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

	.service__content-data {

		&:after {
			content: '';
			display: block;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background-image: url(../images/static/service-arr.svg);
			background-position: 17px center;
			background-repeat: no-repeat;
			-webkit-background-size: 24%;
			background-size: 24%;
			margin-top: 20px;
		}
	}

	@media screen and (min-width: 768px) {

		.service {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
		}

		.service__content,
		.service__image {
			width: 50%;
			height: 245px;
		}
	}
}

@media screen and (max-width: 767px) {

	.service__content,
	.service__image {
		height: 215px;
		position: relative;
	}

	.service__content {
		padding-left: 45px;
	}

	.service__content-data {
		position: static;

		&:after {
			position: absolute;
			bottom: -20px;
		}
	}

	.service__text {
		font-size: 18px;
		line-height: 24px;
	}
}
















