@media screen and (max-width: 1279px) {

	.tour__controls-link {
		text-align: center;
	}

	.tour__controls-item {
		margin: 0;
	}

	.tour__controls {
		margin-bottom: 30px;
	}

	.tour__more {
		left: -20px;
		top: 33%;
	}

	.tour__inner {
		height: 490px;
		margin-left: -40px;
		margin-right: -40px;
	}
}

@media screen and (max-width: 767px) {

	.tour__more {
		left: 0;
		top: 0;
	}

	.tour__scene {
		position: relative;
		height: 210px;
		margin-top: 35px;
	}

	.tour__opener-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}

	.tour__opener {
		position: relative;
		padding-right: 50px;

		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			width: 15px;
			height: 10px;
			background-position: center;
			background-repeat: no-repeat;
			background-image: url(../images/static/p-checker-arr.svg);
			margin-left: 8px;
			transition: transform .3s;
		}

		&.is-active {

			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}

	.tour__controls {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		width: 200px;
		margin: 0 auto;
		border-radius: 25px;
		background-color: #F0F5F5;
		padding: 15px 0;
		margin-bottom: 10px;
		margin-top: 10px;
		text-align: center;
		display: none;
	}

	.tour__controls-link {
		background-color: transparent;

		&.is-active {
			display: none;
		}
	}

	.tour__inner {
		height: auto;
		margin-left: -20px;
		margin-right: -20px;
	}

	.tour__brands {
		position: static;
		transform: translate(0);
		display: none;
		height: 85px;
		overflow: hidden;

		&.is-active {
			display: block;
		}

		&.is-opened {
			height: auto;
		}
	}

	.tour__more {
		position: relative;
		padding: 17px 50px 17px 25px;
		background-color: #F0F5F5;
		color: #738AA7;

		&:after {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			background-image: url(../images/static/p-checker-arr.svg);
		}

		&.is-opened {

			&:after {
				transform: translateY(-50%) rotate(180deg);
			}
		}

		&:hover {
			background-color: darken(#F0F5F5, 5%);
		}
	}

	.tour__more-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
	}
}




