@media screen and (max-width: 1279px) {

	.welcome {
		margin: 0;
	}

	.welcome__svg {
		display: none;
	}

	.welcome__mobile {
		margin-left: -95px;
		margin-right: -95px;
	}
}

@media screen and (max-width: 767px) {

	.welcome__mobile {
		margin-left: -100px;
		margin-right: -100px;
	}

	.welcome__mobile-image {
		width: 100%;
	}

	.welcome__sections {
		display: none;
	}
}