.acu {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.acu__content {
	width: 48%;
	padding: 70px 50px 50px 70px;
	background-color: #F0F5F5;
}

.acu__title {
	font-size: 48px;
	font-weight: 700;
	color: #262626;
	line-height: 1;
	font-family: 'PlayFairDisplay';
	margin-bottom: 30px;
}

.acu__media {
	width: 52%;
	background-position: left center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.acu__info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.owl-carousel .owl-item .acu__info-img {
	max-width: 190px;
	margin-right: 40px;
	margin-left: 0;
}

.acu__info {
	font-family: 'PlayFairDisplay';
	color: #00C5EC;
}

.acu__info-content {
	margin-top: -20px;
}

.acu__info-name {
	font-size: 72px;
	font-weight: 700;
}

.acu__info-note {
	font-size: 30px;
	font-weight: 700;
}

.acu__note {
	margin-top: 25px;
	font-size: 14px;
	font-weight: 100;
	line-height: 22px;
	color: #666;
	max-width: 360px;
}