.brands {
	background-color: #fff;
	padding: 50px 45px 50px 190px;
	height: 100%;
	overflow-y: scroll;

	@media screen and (min-width: 1280px) {
		&--60 {
			width: 60%;
		}

		&--80 {
			width: 80%;

			.brands__item {
				width: 25%;
			}
		}

		&--95 {
			width: 97%;

			.brands__item {
				width: 16.6666%;
			}
		}
	}
}

.brands__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.brands__item {
	width: 33.333%;
	height: 105px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.brands__item-image {
	max-width: 135px;
	max-height: 45px;
}