.c-section {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding-top: 80px;
	margin-bottom: 130px;

	&--reverse {
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;


		.c-section__content {

			@media screen and (min-width: 1280px) {
				text-align: left;
				-ms-align-items: flex-start;
				align-items: flex-start;
				padding-left: 100px;
			}
		}
	}

	&--center {
		-ms-align-items: center;
		align-items: center;
	}

	&--moved {

		.c-section__content {

			@media screen and (min-width: 1280px) {
				margin-top: 100px;
				padding-left: 0;
			}
		}
	}

	&--custom {
		margin-bottom: 60px;
	}

	&--nopadding {
		padding-top: 0;
	}
}

.c-section__content {
	text-align: right;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;

	@media screen and (min-width: 1280px) {
		width: 600px;
	}

	.section__text {
		margin-right: 0;
		max-width: 470px;
	}
}

.c-section__media {
	position: relative;
	flex-grow: 2;

	@media screen and (min-width: 1280px) {
		padding-left: 60px;
	}
}

.c-section__stats {
	position: absolute;
	left: 60px;
	top: -130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: flex-start;
	align-items: flex-start;
	color: #EEF4F5;
	line-height: 0.2;

	@include ctitle(288);
}

.c-section__stats-span {
	font-size: 96px;
}