.d-slider {
	position: relative;

	.owl-item {

		@media screen and (min-width: 768px) {
			
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				width: 350px;
				background-color: #fff;
				transition: transform .7s;
			}

			&.active {

				&:after {
					transform: translateX(-100%);
				}
			}

			&.cloned {
				overflow: hidden;
			}
		}
	}
}

.d-slider__slide {
	@include aspect-ratio(4,3);

	position: relative;
}

.d-slider__scene {
	position: relative;
}

.d-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	width: auto;
	height: 100%;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.d-slider__arrow {

	@media screen and (min-width: 1280px) {
		position: absolute;
		top: 0;
		bottom: 0;
		z-index: 2;
		width: 50%;

		&--prev {
			left: 0;
			cursor: url(../images/static/cursor-prev.png) 27 27, auto;
		}

		&--next {
			right: 0;
			cursor: url(../images/static/cursor-next.png) 27 27, auto;
		}
	}
}

.d-slider__counter {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 15px;
	font-weight: 100;
	color: #999;
	position: absolute;
	left: 0;
	bottom: -77px;
	right: 0;
}

.d-slider__counter-inner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.d-slider__counter-current {
	width: 10px;
}

.d-slider__counter-value {

	&:before {
		content: '/';
		display: inline-block;
		margin: 0 5px;
	}
}