.d-section {
	padding-bottom: 80px;

	@media screen and (min-width: 1280px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

	&--reverse {
		-webkit-flex-direction: row-reverse;
		-moz-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		-o-flex-direction: row-reverse;
		flex-direction: row-reverse;

		.d-section__content {

			@media screen and (min-width: 1280px) {
				padding-left: 120px;
			}
		}
	}

	&:last-child {
		padding-bottom: 0;
	}

	&--contacts {
		margin-top: 100px;
	}
}

.d-section__content {
	flex-shrink: 0;
	
	@media screen and (min-width: 1280px) {
		width: 500px;
		padding: 0 50px;
	}
}

.d-section__text {
	font-size: 15px;
	line-height: 28px;
	color: $dark;
	margin-bottom: 70px;
}

.d-section__ol {
	margin-bottom: 50px;
}

.d-section__ol-title {
	font-size: 15px;
	font-weight: 700;
	color: $dark;
	margin-bottom: 40px;
	line-height: 28px;
}

.d-section__ol-item {
	font-size: 15px;
	font-weight: 100;
	color: $dark;
	margin-bottom: 30px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	padding-left: 65px;

	&:before {
		color: #E4EDED;
		position: absolute;
		top: 20%;
		left: 0;
		transform: translateY(-50%);
		counter-increment: list;
		content: counter(list, decimal-leading-zero);

		@include ctitle(36);
	}
}

.d-section__ol-list {
	counter-reset: list 0;
}

.d-section__cost {
	margin-bottom: 50px;
}

.d-section__cost-title {
	font-weight: 100;
	color: $dark;
	margin-bottom: 10px;
}

.d-section__cost-value {
	font-size: 30px;
	font-weight: 700;
	color: $dark;
}

.d-section__button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-top: 50px;
}

.d-section__d-slider {
	position: relative;
	
	@media screen and (min-width: 1280px) {
		width: calc(100% - 500px);
	}
}

.d-section__ul-item {
	font-size: 15px;
	font-weight: 100;
	position: relative;
	padding-left: 50px;
	margin-bottom: 20px;
	line-height: 1.8;
	max-width: 280px;

	&:last-child {
		margin-bottom: 0;
	}

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 11px;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		background-color: #999;
	}
}

.d-section__link {

	@media screen and (min-width: 1280px) {
		padding-left: 50px;
		margin-bottom: 70px;
	}
}

.d-section__feature {
	margin-bottom: 70px;

	&:last-child {
		margin-bottom: 0;
	}
}

.d-section__feature-title {
	margin-bottom: 25px;
	font-size: 20px;
	line-height: 30px;
}

.d-section__feature-text {
	font-size: 15px;
	font-weight: 100;
	line-height: 28px;
	color: #999;
}

.d-section__cont {
	
	@media screen and (min-width: 1280px) {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

.d-section__cont-title {
	@include ctitle(72);

	line-height: 64px;
	color: $dark;
	margin-bottom: 50px;
}

.d-section__cont-text {
	font-weight: 100;
	line-height: 30px;
	color: #7F97A5;
	margin-bottom: 70px;
}

.d-section__cont-btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 70px;
}

.d-section__cont-note {
	font-size: 26px;
	font-weight: 100;
	color: #ABBAC3;
	letter-spacing: 0.01em;
}

.d-section__map {
	height: 700px;
	width: 100%;
	background-color: #ccc;
}


