.form {

}

.form__line {

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
	}
}

.form__item {
	position: relative;
	margin-bottom: 20px;
	width: 100%;

	&--small {

		@media screen and (min-width: 768px) {
			width: 47%;
		}
	}
}

.form__label {
	font-family: 'Merriweather';
	font-size: 15px;
	font-weight: 100;
	color: #738AA7;
	margin-bottom: 10px;
	display: block;
}

.form__input,
.form__textarea {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	font-family: 'Merriweather';
	background-color: #F0F5F5;
	resize: none;
	color: darken(#738AA7, 10%);
	border-bottom: 1px solid transparent;
	transition: border-color .3s;

	&.form__error {
		border-color: $orange;
	}
}

.form__textarea {
	height: 110px;
}

.form__check-wrapper {
	margin-bottom: 30px;
}

.form__check {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	z-index: -10;

	&:checked {

		& + .form__check-label,
		& + #agree-error + .form__check-label {

			&:after {
				opacity: 1;
			}
		}
	}

	&.valid + #agree-error + .form__check-label {
		color: #738AA7;
	}

	& + #agree-error + .form__check-label {
		color: $orange;
	}
}

.form__check-label {
	position: relative;
	display: block;
	font-size: 12px;
	font-weight: 100;
	font-family: 'Merriweather';
	line-height: 20px;
	color: #738AA7;
	padding-left: 35px;
	cursor: pointer;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 22px;
		height: 22px;
		background-color: #F0F5F5;
	}

	&:after {
		content: '';
		position: absolute;
		left: 5px;
		top: 6px;
		width: 13px;
		height: 10px;
		background-image: url(../images/static/check.svg);
		opacity: 0;
		transition: opacity .3s;
	}
}

span.form__error {
	position: absolute;
	right: 0;
	top: 10px;
	font-family: 'Merriweather';
	font-size: 13px;
	color: $orange;
	opacity: 0;
}

.form__button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.form__line--error {
	display: none;
}

.form__error_text {
	color: $orange;
}