.g-slider {
	margin-bottom: 120px;

	.owl-dots {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		margin-top: 45px;
	}

	button.owl-dot {
		width: 9px;
		height: 9px;
		border-radius: 50%;
		background-color: #E4E9E9;
		transition: background-color .3s;
		margin: 0 25px;

		&.active {
			background-color: #00C5EC;
		}
	}
}

.g-slider__slide {
	position: relative;
	padding: 0 100px;

	&--custom {

		@media screen and (min-width: 768px) {
			
			.g-slider__content {
				width: 53%;
			}

			.g-slider__media {
				width: 47%;
			}
		}
	}

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	@media screen and (min-width: 1280px) {
		min-height: 496px;
	}
}

.g-slider__link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
}

.g-slider__content {
	background-color: #F0F5F5;
	padding: 70px;
}

.g-slider__title {
	@include ctitle(48);

	color: $dark;
	margin-bottom: 25px;
}

.g-slider__features {

	@media screen and (min-width: 1280px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}

.g-slider__feature {
	position: relative;
	color: #262626;
	font-size: 14px;
	font-weight: 100;
	line-height: 22px;
	margin-bottom: 20px;

	@media screen and (min-width: 1280px) {
		width: 50%;
	}
}

.g-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
}

.g-slider__media {
	position: relative;
}

.g-slider__arrow {
	position: absolute;
	top: calc(50% - 28px);
	transform: translateY(-50%);
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #EEF4F5;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 24px 14px;
	background-size: 24px 14px;
	transition: background-color .3s;

	&:hover {
		background-color: darken(#EEF4F5, 5%);
	}

	&--prev {
		left: 0;
		background-image: url(../images/static/g-slider-prev.svg);
	}

	&--next {
		right: 0;
		background-image: url(../images/static/g-slider-next.svg);
	}
}

.g-slider__price {
	color: #00C5EC;
	margin-bottom: 30px;
}

.g-slider__price-text {
	@include ctitle(30);
}

.g-slider__price-value {
	@include ctitle(72);

	margin-top: -25px;

	span {
		font-size: 30px;
	}
}

.g-slider__note {
	white-space: nowrap;
	padding: 15px 30px;
	border-radius: 25px;
	background-color: rgba(238,244,245,0.7);
	font-size: 14px;
	font-weight: 100;
	z-index: 2;
	position: relative;
	margin-right: -95px;
	margin-left: -30px;
	color: #666;
}

.g-slider__percent {
	@include ctitle(144);

	margin-bottom: 30px;
	line-height: 1;

	&:after {
		content: '%';
		display: inline-block;
		font-size: 64px;
		transform: translate(12px, -50px);
	}
}

.g-slider__lang {
	@include ctitle(48);

	line-height: 1;
	margin-bottom: 40px;
	padding-left: 130px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100px;
		height: 100px;
		margin-right: 30px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/content/deuch.svg);
	}
}

.g-slider__text {
	padding-left: 130px;
	font-weight: 100;
	color: #666;
	line-height: 22px;
}

@media screen and (min-width:768px) {

	.g-slider__content {
		width: 48%;
	}

	.g-slider__media {
		width: 52%;
	}	
}