.linz {
	width: 100%;
	position: relative;
	padding-top: 80px;
	padding-left: 70px;
	background-image: url(../images/static/linz-bg.svg);
	background-repeat: no-repeat;
    background-position: -58px 151px;
	background-color: #F0F5F5;

	&:after {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		width: 350px;
		height: 465px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/linz-man.png);
	}
}

.linz__row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.linz__col {

	&--big {
		width: 610px;
	}
}

.linz__title {
	font-size: 64px;
	font-weight: 700;
	color: #262626;
	line-height: 1;
	margin-bottom: 30px;
	font-family: 'PlayFairDisplay';
}

.linz__options {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 35px;
}

.linz__price {
	font-family: 'PlayFairDisplay';
	color: #41BEB1;
}

.linz__price-title {
	font-size: 30px;
	font-weight: 700;
}

.linz__price-value {
	font-size: 72px;
	font-weight: 700;
	line-height: 0.4;
	margin-bottom: 30px;

	span {
		font-size: 30px;
	}
}

.linz__note {
	background-color: rgba(255,255,255,0.7);
	border-radius: 25px;
	padding: 20px 25px;
	font-size: 14px;
	font-weight: 100;
	color: #666;
	display: inline-block;
	margin-bottom: 20px;
}

.linz__note-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.linz__note-col {
	width: 50%;
	max-width: 260px;
	margin-right: 50px;

	&:last-child {
		margin-right: 0;
	}
}

.linz__made {
	margin-left: 65px;
	position: relative;
	font-size: 14px;
	font-weight: 100;
	color: #262626;

	&:before {
		content: '';
		background-image: url(../images/static/ger.svg);
		background-repeat: no-repeat;
		background-position: center;
		width: 50px;
		height: 50px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 15px;
	}
}

















