.p-card {
	position: relative;

	@media screen and (min-width: 768px) {
		max-width: 210px;
		padding-right: 20px;
	}

	&:hover {

		.p-card__photo-file {
			transform: scale(1.2);
		}

		.p-card__num {
			color: $orange;
		}

		.p-card__plus {

			&:after {
				color: $orange;
			}
		}
	}
}

.p-card__num {
	color: #EEF4F5;
	margin-bottom: 30px;
	transition: color .3s;

	@include ctitle(64);

	&:before {
		counter-increment: list;
		content: counter(list, decimal-leading-zero);
	}
}

.p-card__photo {
	@include aspect-ratio(1,1);
	
	margin-bottom: 50px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
}

.p-card__photo-file {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	transition: transform .7s;
}

.p-card__name {
	font-size: 20px;
	height: 55px;
	overflow: hidden;
	margin-bottom: 20px;
}

.p-card__note {
	font-weight: 100;
	margin-bottom: 45px;
}

.p-card__plus {
	position: relative;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background-color: #F0F5F5;
	// background-image: url(../images/static/plus.svg);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 10px 10px;
	background-size: 10px 10px;
	cursor: pointer;
	transition: background-color .3s;

	&:hover {
		background-color: darken(#F0F5F5, 6%);
	}

	&:after {
		content: '+';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		color: #738AA7;
		font-size: 20px;
		font-weight: 100;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: center;
		-ms-align-items: center;
		align-items: center;
		width: 10px;
		height: 10px;
	}
}

.p-card__link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	cursor: pointer;
}
