.p-checker__row {

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
}

.p-checker__opener-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}

.p-checker__opener {

	&:after {
		content: '';
		display: inline-block;
		width: 15px;
		height: 10px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/p-checker-arr.svg);
		margin-left: 8px;
		transition: transform .3s;
	}

	&.is-active {

		&:after {
			transform: rotate(180deg);
		}
	}
}

@media screen and (min-width: 1280px) {

	.p-checker__item {
		margin: 0 10px;
	}
}

@media screen and (min-width: 768px) {

	.p-checker__opener-wrapper {
		display: none;
	}
}