.p-slider__slide {
	margin-bottom: 50px;

	@media screen and (min-width: 1280px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
}

.p-slider__media {
	position: relative;
	flex-grow: 2;
	background-color: #ccc;
	overflow: hidden;

	@include aspect-ratio(4,3);

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
		opacity: .7;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url('../images/static/Video_icon.svg');
		z-index: 2;
		transition: opacity .3s;
		pointer-events: none;
	}

	&:hover {

		&:after {
			opacity: 1;
		}
	}
}

.p-slider__media-link {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 1;
}

.p-slider__content {

	@media screen and (min-width: 1280px) {
		width: 590px;
		padding: 45px 35px 45px 100px;
	}
}

.p-slider__image {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.p-slider__position {
	font-weight: 100;
	color: #A6A6A6;
	margin-bottom: 20px;
}

.p-slider__name {
	@include ctitle(42);

	margin-bottom: 50px;
}

.p-slider__btn {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.p-slider__options {
	margin-bottom: 60px;

	@media screen and (min-width: 768px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.p-slider__options-col {

	&--short {
		width: 145px;
		flex-shrink: 0;
	}
}

.p-slider__options-title {
	margin-bottom: 15px;
	font-weight: 100;
	color: #A6A6A6;
}

.p-slider__options-text {
	font-size: 15px;
	font-weight: 100;
	color: #646464;
	line-height: 24px;

	p {
		margin-top: 0;
		margin-bottom: 25px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.p-slider__video {
	position: absolute;
	left: 0;
	top: 0;
	right: -1px;
	object-fit: cover;
	width: 101%;
	height: 101%;
}