.p-top {
	position: relative;
	padding: 0 0 130px 0;
	margin-left: 370px;
	max-width: 620px;

	&:after {
		content: '';
		position: absolute;
		width: 1100px;
		height: 980px;
		background-image: url(../images/static/lamp.svg);
		background-position: center;
		background-repeat: no-repeat;
		left: 50%;
		top: -100px;
	}
}

.p-top__title {
	@include ctitle(64);

	margin-bottom: 45px;
	color: $dark;
}

.p-top__text {
	margin-bottom: 40px;
	font-size: 24px;
	line-height: 36px;
	color: #ABBAC3;
	font-family: 'Merriweather';

	&:last-child {
		margin-bottom: 0;
	}
}