.preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 40;
	background: #fff;

	&:after {
		content: '';
		position: absolute;
		left: calc(50% - 35px);
		top: calc(50% - 35px);
		width: 70px;
		height: 70px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/eye.svg);
		animation: load 3s infinite;
	}
}

@keyframes load {
	from   { transform: rotate(0); }

	45% {transform: rotate(180deg);}

	55% {transform: rotate(180deg);}

	100% { transform: rotate(360deg); }
}