.pricing {
	margin-bottom: 40px;

	@media screen and (min-width: 1280px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.pricing__side {
	flex-shrink: 0;

	@media screen and (min-width: 1280px) {
		width: 220px;
		border-right: 1px solid #D9D9D9;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
	}
}

.pricing__side-opener-wrapper {

	@media screen and (min-width: 768px) {
		display: none;
	}
}

.pricing__content {
	flex-grow: 2;

	@media screen and (min-width: 1280px) {
		padding-left: 110px;	
	}
}

.pricing__side-btn {
	display: block;
	padding: 20px 30px;
	transition: background-color .3s;
	border-radius: 30px;
	background-color: transparent;
	color: $dark;
	line-height: 25px;
	max-width: 175px;
	text-decoration: none;

	@media screen and (min-width: 1280px) {
		margin-bottom: 15px;
	}

	&:hover,
	&.is-active {
		background-color: #EEF4F5;
	}
}

.pricing__top {
	margin-bottom: 60px;
}

.pricing__top-prices {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.pricing__top-price-item {
	position: relative;
	margin-right: 90px;

	&:after {
		content: '';
		position: absolute;
		right: -60px;
		width: 30px;
		height: 1px;
		background-color: #9E9E9E;
		bottom: 16px;
	}

	&--orange {

		.d-section__cost-title,
		.d-section__cost-value {
			color: $orange;
		}
	}

	&:last-child {
		margin-right: 0;

		&:after {
			display: none;
		}
	}
}

.pricing__top-button {
	margin-left: 210px;
}



.pricing__offers-section {
	display: none;
	width: 100%;

	&.is-active {
		display: block;
	}
}

.pricing__offers-row {
	width: 100%;
	counter-reset: list 0; 
}

@media screen and (min-width: 768px) {

	.pricing__offers-row {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}

	.pricing__offers-item {
		width: 25%;
	}

	.pricing__offers {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		height: 545px;
	}

	.pricing__top {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}

	.pricing__side {
		flex-shrink: 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
}











