.s-popups {

	&:before {
		content: '';
		position: fixed;
		width: 100vw;
		height: 100vh;
		top: 0;
		bottom: 0;
		right: 100%;
		transition: transform 1.2s ease-in-out;
		background-color: #fff;
		z-index: 40;
	}

	&.is-opened {

		&:before {
			transform: translateX(200vw);
			transition: transform 1.2s ease-in-out;
		}
	}
}

.s-popup {
	position: fixed;
	width: 100vw;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 35;
	overflow: hidden;
	right: 100%;
	transition: transform .7s ease-in-out;
	transform: translateX(-100%);
	transition-delay: 0.3s;

	&.is-visible {
		transform: translateX(0);
		transition-delay: 1s;
		transition: transform 1s ease-in-out;
	}

	&--blue {

		.s-popup__card {
			background-color: #00C5EC;
		}
	}

	&--dark-blue {

		.s-popup__card {
			background-color: #4259B6;	
		}
	}

	&--green {

		.s-popup__card {
			background-color: #41BEB1;	
		}
	}

	&--orange {

		.s-popup__card {
			background-color: $orange;	
		}
	}

	&--custom {

		.s-popup__card {
			background-color: #fff;

			&:before {
				content: '';
				position: absolute;
				right: 0;
				top: -20px;
				bottom: -20px;
				width: 1000px;
				background-color: #fff;
				z-index: -1;
			}
		}

		.s-popup__num {
			color: #EEF4F5;
			font-size: 96px;
		}

		.s-popup__title {
			@include ctitle(36);
			color: $dark;
			margin-bottom: 50px;
			line-height: 1;
		}

		.s-popup__text {
			color: #000;
			font-size: 15px;
			font-weight: 100;
			line-height: 28px;
			margin-bottom: 45px;
		}
	}
}

.s-popup__image {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;
}

.s-popup__card {
	position: relative;
	z-index: 1;
	width: 25%;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	height: calc(100vh - 40px);

	@media screen and (min-width: 1280px) {

		&--2 {
			margin-left: 25%;
		}

		&--3 {
			margin-left: 50%;
		}

		&--4 {
			margin-left: 75%;
		}
	}
}

.s-popup__inner {
	@extend .container;

	min-height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	padding: 20px 50px;
}

.s-popup__closer {
	z-index: 1;
	cursor: url(../images/static/cursor-close.png) 27 27, auto;

	@media screen and (min-width: 1280px) {
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.s-popup__num {
	@include ctitle(64);

	line-height: 0.6;
	margin-bottom: 60px;
}

.s-popup__title {
	font-size: 20px;
	line-height: 28px;
	margin-bottom: 55px;
}

.s-popup__list-item {
	position: relative;
	margin-bottom: 35px;
	padding-left: 50px;
	font-weight: 100;
	line-height: 28px;

	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 13px;
		width: 30px;
		height: 1px;
		background-color: #fff;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

.s-popup__card-inner {
	margin: auto 0;
	padding: 50px 60px;
	// overflow-y: scroll;
}

.s-popup__button {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.s-popup__wrap {
	overflow-y: scroll;
	height: 100vh;
	position: relative;
}