.section {

	@media screen and (min-width: 1280px) {
		padding: 100px 0 110px 0;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-ms-align-items: center;
		align-items: center;
	}
}

.section__image {
	max-width: 100%;

	@media screen and (min-width: 1280px) {
		width: 50%;
		padding-right: 130px;
	}
}

.section__content {
	position: relative;

	@media screen and (min-width: 1280px) {
		width: 50%;
		padding-left: 140px;
		padding-top: 130px;
	}
}

.section__number {
	position: absolute;
	left: -30px;
	top: -120px;
	color: #EEF4F5;

	@include ctitle(288);
}

.section__title {
	@include ctitle(64);

	color: $dark;
	line-height: 1;
	margin-bottom: 35px;
}

.section__text {
	font-size: 26px;
	font-weight: 100;
	letter-spacing: 0.01em;
	color: #ABBAC3;
	line-height: 36px;
	max-width: 510px;
}

.section__image-file {
	max-width: 100%;
}