.services__row {

	@media screen and (min-width: 1280px) {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
}

.service {
	position: relative;
	overflow: hidden;
	cursor: pointer;

	@media screen and (min-width: 1280px) {
		cursor: url(../images/static/cursor-more.png) 27 27, auto;
	}

	@media screen and (min-width: 1280px) {
		width: 23.3%;
		margin-right: 2.3%;

		&:before {
			content: '';
			position: absolute;
			background-color: #fff;
			left: 100%;
			top: 0;
			bottom: 0;
			width: 110%;
			transition: transform .5s;
			transition-delay: .2s;
		}

		&:after {
			content: '';
			position: absolute;
			left: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			width: 110%;
			transition: transform .5s;
			z-index: 0;
			transition-delay: 0s;
		}

		&:hover {

			.service__text {
				color: $dark;
			}

			.service__content-data {
				transform: translateY(60px);
			}

			.service__number {
				opacity: 1;
				transform: translateY(-5px);
				transition-delay: .4s;
			}

			&:before {
				transform: translateX(-100%);
				transition-delay: 0s;
			}

			&:after {
				transform: translateX(-50%);
				transition-delay: .2s;
			}
		}
	}

	&:last-child {
		margin-right: 0;
	}

	&--blue {
		background-color: #00C5EC;

		&:after {
			background-color: #00C5EC;			
		}
	}

	&--dark-blue {
		background-color: #4259B6;

		&:after {
			background-color: #4259B6;			
		}
	}

	&--green {
		background-color: #41BEB1;

		&:after {
			background-color: #41BEB1;			
		}
	}

	&--orange {
		background-color: $orange;

		&:after {
			background-color: $orange;			
		}
	}
}

.service__content {
	height: 480px;
	padding: 100px 60px;
}

.service__image {
	height: 480px;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.service__number {
	@include ctitle(64);

	color: #1A1A31;
	transition: transform .3s;
	transform: translateY(70px);
}

.service__number-wrapper {
	overflow: hidden;
	height: 70px;
	margin-bottom: 40px;
}

.service__text {
	font-size: 20px;
	line-height: 28px;
	color: #fff;
	transition: color .3s;
}

.service__content-data {
	position: relative;
	z-index: 1;
	transition: transform .3s;
}