.tour__controls {
	margin-bottom: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.tour__controls-item {
	margin: 0 10px;
}

.tour__inner {
	height: 1000px;
	position: relative;
	overflow: hidden;
}

.tour__scene {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center;
	-webkit-background-size: cover;
	background-size: cover;

	iframe {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.tour__more {
	background-color: #191A31;
	border-radius: 25px;
	color: #fff;
	padding: 30px 18px;
	font-weight: 100;
	cursor: pointer;
	transition: background-color .3s;

	@media screen and (min-width: 768px) {
		position: absolute;
		left: 25px;
		top: 40%;
		transform: translateX(-50%);
		transform: rotate(180deg);
		writing-mode: vertical-rl;
	}

	&:hover {
		background-color: lighten(#191A31, 7%);
	}

	&:after {
		content: '';
		display: inline-block;
		width: 16px;
		height: 15px;
		background-position: center;
		background-repeat: no-repeat;
		background-image: url(../images/static/brands-arr.svg);
		transition: transform .3s;
		transform: rotate(180deg);

		@media screen and (min-width: 768px) {
			margin-top: 20px;
		}
	}

	&:before {
		content: attr(data-open);
		display: inline-block;
	}

	&.is-opened {

		&:before {
			content: attr(data-hide);
		}

		&:after {
			transform: rotate(0deg);
		}
	}
}

.tour__brands {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: transform .7s;
	transform: translateX(-100%);

	&.is-opened.is-active {
		transform: translate(0);
	}
}

@media screen and (min-width: 768px) {

	.tour__opener-wrapper {
		display: none;
	}
}