.welcome__svg-section {
	transition: opacity .3s;
	cursor: pointer;

	&.hover {
		opacity: .15;
	}
}

.welcome {
	margin: 80px 0;
	position: relative;
}

.welcome__svg {

}

.welcome__sections-item {
	@include ctitle(96);

	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-weight: 700;
	color: $dark;
	line-height: 0.82;
	opacity: 0;
	transition: opacity .3s;
	pointer-events: none;

	&.is-active {
		opacity: 1;
	}

	&.fashion {
		text-align: right;
		margin-right: 170px;
		transform: translateX(-100%) translateY(-95%);
	}

	&.luxury {
		text-align: right;
		transform: translateX(-20%) translateY(-50%);
	}

	&.child {
		transform: translateX(-75%) translateY(-71%);
	}

	&.master {
		transform: translateX(-12%) translateY(-68%);
	}

	&.center {
		text-align: center;
	}
}

@media screen and (min-width: 1280px) {

	.welcome__mobile {
		display: none;
	}

	.welcome__svg {
		display: block;
	}
}